<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62760226789-s6q546v93ipq2qk1d36lsj15kqfdn3l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62760226789-s6q546v93ipq2qk1d36lsj15kqfdn3l1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>62760226789-08ucbt0o368m7invcc2j1ck4d2camku3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD49QW2iOZdvtaspxb1Q_HzX7e9Yy1nUdA</string>
	<key>GCM_SENDER_ID</key>
	<string>62760226789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mdefi</string>
	<key>PROJECT_ID</key>
	<string>bachelor-d3bb5</string>
	<key>STORAGE_BUCKET</key>
	<string>bachelor-d3bb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62760226789:ios:718cbd861a8a977c6e690c</string>
	<key>DATABASE_URL</key>
	<string>https://bachelor-d3bb5.firebaseio.com</string>
</dict>
</plist>